[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-cors = "*"
cloudinary = "*"
python-dotenv = "*"
flask-mail = "*"
flasgger = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
